<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
    </pluginGroups>
    <proxies>
    </proxies>
    <servers>
        <server>
            <username>vdv</username>
            <password>AKCp5fTaNVMLf1m1NJvxgvnhn7sDHtsb3GXrRtfEbAnwYA6FRZdp55jj9WaqtzQz9iSi1XeX3</password>
            <id>data-mart-release</id>
        </server>
        <server>
            <username>vdv</username>
            <password>AKCp5fTaNVMLf1m1NJvxgvnhn7sDHtsb3GXrRtfEbAnwYA6FRZdp55jj9WaqtzQz9iSi1XeX3</password>
            <id>data-mart-snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>data-mart-release</id>
                    <name>data-mart-release</name>
                    <url>https://rt.adsw.io/artifactory/data-mart-release</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>data-mart-snapshots</id>
                    <name>data-mart-snapshot</name>
                    <url>https://rt.adsw.io/artifactory/data-mart-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>data-mart-release</id>
                    <name>data-mart-release</name>
                    <url>https://rt.adsw.io/artifactory/data-mart-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>data-mart-snapshots</id>
                    <name>data-mart-snapshot</name>
                    <url>https://rt.adsw.io/artifactory/data-mart-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
    <mirrors>
        <mirror>
            <id>artifactory_apache</id>
            <name>artifactory_apache</name>
            <url>https://ci.arenadata.io/artifactory/maven-apache/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <mirror>
            <id>artifactory_jcenter</id>
            <name>artifactory_jcenter</name>
            <url>https://ci.arenadata.io/artifactory/jcenter/</url>
            <mirrorOf>jcenter</mirrorOf>
        </mirror>
        <mirror>
            <id>artifactory_atlassian</id>
            <name>artifactory_atlassian</name>
            <url>https://ci.arenadata.io/artifactory/maven-atlassian/</url>
            <mirrorOf>maven2-repository.atlassian</mirrorOf>
        </mirror>
        <mirror>
            <id>artifactory-spring</id>
            <name>artifactory-spring</name>
            <url>https://ci.arenadata.io/artifactory/maven-spring/</url>
            <mirrorOf>spring-milestones</mirrorOf>
        </mirror>
        <mirror>
            <id>artifactory-sonatype</id>
            <name>artifactory-sonatype</name>
            <url>https://ci.arenadata.io/artifactory/maven-sonatype/</url>
            <mirrorOf>oss.sonatype.org</mirrorOf>
        </mirror>
        <mirror>
            <id>artifactory-asf-staging</id>
            <name>artifactory-asf-staging</name>
            <url>https://ci.arenadata.io/artifactory/maven-asf-staging/</url>
            <mirrorOf>ASF Staging</mirrorOf>
        </mirror>
        <mirror>
            <id>artifactory-asf-snaphosts</id>
            <name>artifactory-asf-snaphosts</name>
            <url>https://ci.arenadata.io/artifactory/maven-asf-snaphosts/</url>
            <mirrorOf>ASF Snapshots</mirrorOf>
        </mirror>
        <mirror>
            <id>artifactory-hdp-internal</id>
            <name>artifactory-hdp-internal</name>
            <url>https://ci.arenadata.io/artifactory/maven-hdp-internal/</url>
            <mirrorOf>hdp.internal</mirrorOf>
        </mirror>
        <mirror>
            <id>artifactory-hdp-hadoop</id>
            <name>artifactory-hdp-hadoop</name>
            <url>https://ci.arenadata.io/artifactory/maven-hdp-hadoop/</url>
            <mirrorOf>apache-hadoop</mirrorOf>
        </mirror>
        <mirror>
            <id>artifactory-apache-snapshots</id>
            <name>artifactory-apache-snapshots</name>
            <url>https://ci.arenadata.io/artifactory/maven-apache-snapshots/</url>
            <mirrorOf>apache-snapshots</mirrorOf>
        </mirror>
        <mirror>
            <id>spring-plugins-repository</id>
            <name>Spring Plugins Repository</name>
            <url>https://ci.arenadata.io/artifactory/spring-plugins-repository/</url>
            <mirrorOf>apache-snapshots</mirrorOf>
        </mirror>
        <mirror>
            <id>JBoss</id>
            <name>JBoss</name>
            <url>https://ci.arenadata.io/artifactory/maven-jboss</url>
            <mirrorOf>jboss</mirrorOf>
        </mirror>
    </mirrors>
</settings>